# See https://dart.dev/guides/libraries/private-files

.dart_tool/
.packages
build/
pubspec.lock  # Except for application packages

doc/api/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store

openapi/
doc/

.vscode/
.flutter-plugins-dependencies
.flutter-plugins

.testflight.sh
.googleplay.sh
deploy.dart
android/app/google-services-private.json
lib/firebase_options_private.dart
